
\.container {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    margin-top: 50px;
}

.chart-container {
    flex: 1; /* Allow chart to grow to take up remaining space */
}

.inputs {
    width: 300px; /* Fixed width for input container */
    margin-left: 20px; /* Add margin for spacing */
}
